{% extends 'layout.html' %}
{% block content %}
	<div>
	    <div class="container">
	        <div class="row profile">
	            <div class="col-md-3">
	                <div class="profile-sidebar">
	                    <!-- SIDEBAR USERPIC -->
	                    <div class="profile-userpic">
	                        <img src="../static/images/prolo.jpg" class="img-responsive" alt="">
	                    </div>
	                    <!-- END SIDEBAR USERPIC -->
	                    <!-- SIDEBAR USER TITLE -->
	                    <div class="profile-usertitle">
	                        <div class="profile-usertitle-name">
	                            Prolo Boss
	                        </div>
	                        <div class="profile-usertitle-job">
	                            Administrador
	                        </div>
	                    </div>
	                    <!-- END SIDEBAR USER TITLE -->
	                    <!-- SIDEBAR BUTTONS -->
	                    
	                    <!-- END SIDEBAR BUTTONS -->
	                    <!-- SIDEBAR MENU -->
	                    <div class="profile-usermenu">
	                        <ul class="nav">
	                        	<li class="active">
	                                <a href="/admin">
	                                <i class="glyphicon glyphicon-list"></i>
	                                Listar Consultas </a>
	                            </li>
	                            <li>
	                                <a href="/consultas_avaliadas">
	                                <i class="fa fa-list-alt"></i>
	                                Consultas Avaliadas </a>
	                            </li>
	                            <li>
	                                <a href="/registrar_funcionario">
	                                <i class="fa fa-users"></i>
	                                Registrar Funcionário </a>
	                            </li>
	                        </ul>
	                    </div>
	                    <!-- END MENU -->
	                </div>
	            </div>
				<div class="col-md-9">
			        <div class="profile-content">
			          <!-- Conteúdo aqui -->
			            <table id="example" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
			                <thead>
			                    <tr>
			                        <th>Id</th>
			                        <th>Funcionário</th> 
			                        <th>Aluno</th>                       
			                        <th>Status</th>  
			                        <th>Hora</th>
			                        <th>Comentário</th> 
			                    </tr>
			                </thead>
			                <tfoot>
			                    <tr>
			                        <th>Id</th>
			                        <th>Funcionário</th>
			                        <th>Aluno</th>                       
			                        <th>Status</th>  
			                        <th>Hora</th>
			                        <th>Comentário</th>
			                    </tr>
			                </tfoot>
			                <tbody>
			                    {% if consultas is none %}
			                        <h3 class="text-center">Você não tem nenhuma consulta no momento :(</h3>
			                    {% else %}		
			                        {% for consulta in consultas %}
			                            <tr>                  
			                                <td>{{ consulta.id }}</td>
			                                <td>{{ consulta.funcionario_id }}</td>
			                                <td>{{ consulta.aluno_id }}</td>
			                                <td>{{ consulta.status }}</td>            
			                                <td>{{ consulta.hora_inicio }}</td> 
			                                <td>{{ consulta.comentario }}</td> 
			                            </tr>
			                        {% endfor %}
			                    {% endif %}
			                </tbody>
			            </table>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	<script>
	    $(document).ready(function() {
	        var table = $('#example').DataTable( {
	            dom: 'Bfrtip',
	            lengthChange: false,
	            paging: false,
	            bInfo: false,
	            buttons: [
	                'excelHtml5',
	                'csvHtml5',
	                'pdfHtml5'
	            ]
	        } );
	        
	        table.buttons().container().appendTo( '#example_filter' ).insertBefore($("label").css({'float': 'right'}));
	        $(".dt-buttons").css({'float': 'left'});
	        $(".btn-default").css({"margin-bottom": "5px"});
	    } );
	</script>
{% endblock %}