{% extends 'layout.html' %}
{% block content %}
	<div class="col-md-9">
        <div class="profile-content">
          <!-- Conteúdo aqui -->
            <table id="example" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Consulta</th>
                        <th>Funcionário</th> 
                        <th>Aluno</th>                       
                        <th>Status</th>  
                        <th>Hora</th>
                        <th>Comentário</th>
                        <th>Avaliação</th> 
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Funcionário</th>
                        <th>Aluno</th>                       
                        <th>Status</th>  
                        <th>Hora</th>
                        <th>Comentário</th>
                        <th>Avaliação</th> 
                    </tr>
                </tfoot>
                <tbody>
                    {% if avaliacoes is none %}
                        <h3 class="text-center">Você não tem nenhuma avaliação no momento :(</h3>
                    {% else %}		
                        {% for avaliacao in avaliacoes %}
                            <tr>                  
                                <td>{{ avaliacao[0] }}</td>
                                <td>{{ avaliacao[6] }}</td>
                                <td>{{ avaliacao[1] }}</td>
                                <td>{{ avaliacao[7] }}</td>            
                                <td>{{ avaliacao[8] }}</td> 
                                <td>{{ avaliacao[9] }}</td>
                                <td>{{ avaliacao[3] }}</td> 
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}