{% extends 'layout.html' %}
{% block content %}
	<div class="row main">
		<div class="panel-heading">
           <div class="panel-title text-center">
           		<h1 class="title">Edição de consulta</h1>
           		<hr />
           	</div>
        </div> 
		<div class="main-login main-center">
			<form class="form-horizontal" method="post" action="">

				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">Data e horário</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<select class="form-control" name="status">
								<option>Marcada</option>
								<option>Realizada</option>
								<option>Cancelada</option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">Data e horário</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<input type="text" class="form-control" value="{{ consulta.hora_inicio }}" name="hora_inicio" id="datetimepicker" />
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">Comentário</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
							<input type="text" class="form-control" value="{{ consulta.comentario }}" name="comentario" id="comentario" />
						</div>
					</div>
				</div>

				<div class="form-group ">
					<button type="submit" class="btn btn-primary btn-lg btn-block">Atualizar consulta</button>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		jQuery.datetimepicker.setLocale('pt');
		jQuery('#datetimepicker').datetimepicker();
	</script>
{% endblock %}